<div class="container">
  <div class="alerte">
    <alerte></alerte>
  </div>
  <div class="main-wrapper">
    <form
      id="resetForm"
      [formGroup]="resetForm"
      (ngSubmit)="onClickSubmit(resetForm.value)"
    >
      <div class="form-group">
        <label for="Password">Nouveau mot de passe</label>
        <input
          ngModel
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
          name="password"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Nouveau mot de passe est requis
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirmation du nouveau mot de passe</label>
        <input
          formControlName="cpassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }"
          ngModel
          type="password"
          id="cpassword"
          name="cpassword"
          placeholder="Confirm Password"
          required
        />
        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
          <div *ngIf="f.cpassword.errors.required">
            Confirmation est requise
          </div>
          <div *ngIf="f.cpassword.errors.mustMatch">
            Mots de passe non-identiques
          </div>
        </div>
      </div>
      <button
        id="btn-submit"
        type="submit"
        class="btn"
        style="background-color: #e71c22;"
      >
        Confirmer
      </button>
    </form>
  </div>
</div>
