<div class="container">
  <div class="alerte">
    <alerte></alerte>
  </div>
  <div class="main-wrapper">
    <form [formGroup]="changeForm" (ngSubmit)="onClickSubmit(changeForm.value)">
      <div class="form-group">
        <label for="password">Actuel</label>
        <input
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          ngModel
          type="password"
          id="password"
          name="password"
          placeholder="Entrer votre mot de passe actuel"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Votre mot de passe est requis
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="newpassword">Nouveau</label>
        <input
          ngModel
          formControlName="newpassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }"
          type="password"
          class="form-control"
          id="newpassword"
          placeholder="Entrer le nouveau mot de passe"
          name="newpassword"
        />
        <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
          <div *ngIf="f.newpassword.errors.required">
            Nouveau mot de passe est requis
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirmer</label>
        <input
          ngModel
          formControlName="cpassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }"
          type="password"
          class="form-control"
          id="cpassword"
          placeholder="Confirmer le nouveau mot de passe"
          name="cpassword"
        />
        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
          <div *ngIf="f.cpassword.errors.required">
            La confirmation est requis
          </div>
        </div>
      </div>

      <div class="button-wrapper">
        <button
          id="btn-submit"
          type="submit"
          class="btn"
          style="background-color: #e71c22; color: white;"
        >
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
