.main-wrapper {
  margin: auto;
  width: 35%;
  border-radius: 5px;
}

.alerte {
  margin: auto;
  width: 35%;
}

.container {
  margin-top: 12em;
}

.button-wrapper {
  width: 100%;
  text-align: center;
}
#btn-submit {
  border-radius: 2em;
  width: 50%;
}
